.vaccinesDashBoard {
	display: flex;
	align-items: center;
	width: 100%;
	min-height: 100px;
	z-index: 1;
}

.vaccines__burguerMenu {
	width: fit-content;
	padding: 10px;
	border-radius: 50%;
	background-color: var(--bg-color);
	box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
	cursor: pointer;
}

.vaccines__burguerMenu img {
	width: 40px;
	vertical-align: middle;
}
