.vaccinesDashBoard {
	display: flex;
	align-items: center;
	width: 100%;
	min-height: 100px;
	z-index: 1;
}

.vaccines__burguerMenu {
	width: fit-content;
	padding: 10px;
	border-radius: 50%;
	background-color: var(--bg-color);
	box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
}

.vaccines__burguerMenu img {
	width: 40px;
	vertical-align: middle;
}

.vaccinesDashBoard__data {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.411);
	z-index: 100;
}

.dashboard--data__container {
	position: relative;
	min-height: 450px;
	width: 80%;
	padding: 10px;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-evenly;
	background-color: var(--bg-color);
	border-radius: 20px;
}

.closeModal {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 50px;
}

.dashboard--data__container h2 {
	font-family: var(--fancy-font);
	font-size: 1.7rem;
}

.vaccinesDashBoard--shape,
.vaccinesDashBoard--total {
	margin: 10px 0;
}

.charts--shape {
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	border-radius: 10px;
}

.charts--shape span {
	display: inline-block;
	width: 50%;
	text-align: center;
	font-size: 1.3rem;
	font-weight: bold;
	padding: 10px;
}

.line--shape,
.bar--shape {
	transition: all 0.5s;
	background-color: #cecece;
}

.line--shape {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.bar--shape {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.shape--selected {
	background-color: var(--recovered);
	color: white;
}

.vaccinesDashBoard--total {
	text-align: center;
}

.chart--country {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 10px 0;
	border-bottom: 1px solid var(--second-color);
}

.chart--countryColor {
	margin-right: 5px;
	width: 30px;
	height: 20px;
	border: 2px solid black;
}
.chart--country p {
	font-size: 1.2rem;
	color: var(--font-color);
}

.chart--country span {
	color: black;
	font-weight: bold;
}
