* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	--bg-color: #f2f2f2;
	--font-color: rgba(44, 43, 55, 0.7);
	--title-color: black;
	--fancy-font: 'Leckerli One', cursive;
	--deaths: rgb(255, 67, 67);
	--recovered: rgb(92, 218, 92);
}

body {
	background-color: #f2f2f2;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
